.sad-gallery article {
    width: 16.5% !important;
}
article.picture-slider, article.picture-slider h3 {
    color: black !important;
}
.yjmob100k-gallery article  {
/*     width: 100%; */
}
.yjmob100k-gallery article img {
    height: 200px !important;
  object-fit: scale-down;
  background: white;
}
.beer-handle {
  background: #2d2d2d9f;
  color: white;
}
.beer-range:focus~.beer-handle {
  background: #2d2d2dbf;
}
.beer-reveal[data-beer-label]:after,
.beer-slider[data-beer-label]:after {
  padding: 0.35rem;
  background: #2d2d2dAf;
  color: white;
}
